name: infinitunes_mobile
description: An open-source Music Player App built with Flutter.
publish_to: "none" # to prevent accidental publication of package to pub.dev

version: 0.1.0

environment:
  sdk: ">=3.0.3 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.2
  flutter_dotenv: ^5.1.0
  http: ^1.1.0
  json_annotation: ^4.8.1
  build_runner: ^2.4.6
  just_audio: ^0.9.34
  cached_network_image: ^3.2.3
  google_fonts: ^5.1.0

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^2.0.0
  json_serializable: ^6.7.1

flutter:
  uses-material-design: true

  assets:
    - .env

scripts:
  gen: dart run build_runner build --delete-conflicting-outputs
  gen_w: dart run build_runner watch --delete-conflicting-outputs

  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
